<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AM Vission SA de CV</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>

  <header class="top">
    <div class="contenedor">
        <div class="logo-container">
            <div class="logo-img">
                <img src="/static/img/logo_amvission.png">
            </div>
            <p>AM Vission</p>
            <nav class="navegador">
                <a href="">Cotiza tu evento</a>
                <a href="">Conocenos</a>
                <a href="">Serivicios</a>
                <a href="">Portafolio</a>
                <a href="">Contacto</a>
            </nav>
        </div>
        <div class="login">
            <a href="">Iniciar Sesión (Staff)</a>
        </div>
    </div>
  </header>

  <section id="buscador">
    <div>
      <h1>Desarrolla tu evento.<br>Crece tu imágen.</h1>
      <p>20 años de experiencia en la logistica y planeacion de eventos.</p>
    </div>
    <div class="logo-completo">
      <img src="/static/img/logo_completo.png">
    </div>
  </section>
  <section id="caracteristicas">
    <div class="contenedor-caracteristicas">
      <div class = "icono-caracteristicas">
        <h2>Conocenos</h2>
        <p>¿Estas buscando pareja? Aqui encuentra una jejeje</p>
      </div>

      <div class = "icono-caracteristicas">
        <h2>Testimonios</h2>
        <p>"Yo nomas me dedicaba a hacer proyectos de programacion y nunca conseguia pareja. Con pandematch ahora ando como pancho villa"</p>
      </div>

      <div class = "icono-caracteristicas">
        <h2>Calidad y Precio</h2>
        <p>Aqui no hay perfiles fake, puro universitari@ guapeton/a</p>
      </div>

      <div class = "icono-caracteristicas">
        <h2>Contacto directo.</h2>
        <p>Nuestro chat es seguro y esta chido. Con toda la seguridad que puedas encontrar.</p>
      </div>
    </div>
  </section>

  <footer>
    <div>
      <div>
        <nav>
          <a href="login">Encuentra</a>
          <a href="Conocenos.html">Conocenos</a>
          <a href="Seguridad.html">Seguridad</a>
          <a href="Contacto.html">Contacto</a>
        </nav>
      </div>
      <div>
        <nav>
          <a href="Politicas.html">Políticas y privacidad</a>
          <a href="Terms-Conditions.html">Términos y Conidiciones</a>
          <a href="Reportar.html">Reportar un problema</a>
        </nav>
      </div>
    </div>
    <p>PROFE PONGANOS 10 &copy;</p>

  </footer>

</body>

</html>
